<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.florist.order.mapper.OrderMapper">
	<select id="orderQueryById" parameterType="String"
	resultType="OrderInfo">
		select * from order_info where user_id=#{userId};
	</select>
	<delete id="deleteOrder" parameterType="String">
		delete from order_info where order_id=#{orderId};
	</delete>
	<insert id="saveOrder" parameterType="OrderInfo">
		insert into order_info (
		order_id,
		user_id,
		user_real_name,
		user_phone,
		user_address,
		order_total_price,
		product_id
		) values (
		#{orderId},
		#{userId},
		#{userRealName},
		#{userPhone},
		#{userAddress},
		#{orderTotalPrice},
		#{productId});
	</insert>
	<update id="updateUser" parameterType="int">
		update user_info set history_order_count=history_order_count+1 where user_id=#{userId};
	</update>
	<update id="updateProduct" parameterType="int">
		update product_info set product_sell_count=product_sell_count+1 where product_id=#{productId};
	</update>
		<delete id="deleteCart" parameterType="OrderInfo">
		delete from cart_info where user_id=#{userId} and product_id=#{productId};
	</delete>
	<select id="queryUserInfo" parameterType="int"
	resultType="UserInfo">
		select * from user_info where user_id=#{userId};
	</select>
</mapper> 






























